# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

SpiderSwarm
*.swp
.vagrant

tags

coverage.txt

examples/action/action
examples/task/task
examples/workflow/workflow
examples/books_workflow/books_workflow
e2e_testing/basic_test_webserver/basic_test_webserver
e2e_testing/e2e_testing
examples/build_tasktemplate/build_tasktemplate

*.csv
cover.out
cover.html
